{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BlogBundle::base.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar aliquam orci, finibus rutrum tellus condimentum sit amet. Fusce euismod urna augue, condimentum porttitor risus tincidunt eu. Etiam in facilisis metus. Mauris eu turpis egestas nibh scelerisque pulvinar vitae in arcu. Integer nunc mauris, varius in eros ut, luctus tempor nisl. Sed ac dolor eget mauris cursus ultricies. Nam at ultricies quam.

            Nunc cursus nisi a venenatis molestie. Vivamus quam nisl, tempor faucibus purus sit amet, ultricies mattis justo. Sed pharetra a mi ut malesuada. Sed nulla nulla, congue vel sodales eu, mattis sed urna. Integer diam turpis, consectetur ut ligula id, egestas viverra augue. Aliquam viverra ex tortor, at mattis tellus fermentum a. Duis ultrices iaculis mattis. In eu sollicitudin justo, sed placerat lorem. Cras facilisis metus odio, sed posuere urna auctor non. Nunc libero nisl, bibendum nec metus vel, rutrum ornare mauris. Donec ac dolor ut urna scelerisque aliquet vitae quis leo. Maecenas mattis tempor sodales. Vestibulum at velit non ipsum mollis gravida. Sed et pretium elit. Nulla id elit mauris. Praesent tristique orci tristique augue scelerisque, ut venenatis orci facilisis.

            Morbi fringilla vitae tellus non ullamcorper. Cras hendrerit ac lacus ac placerat. Fusce pharetra elementum dui ut faucibus. Aenean dignissim libero a lectus dictum commodo. Aenean eu nisi nibh. Duis a tortor rhoncus, molestie libero at, dapibus nibh. Praesent ullamcorper lectus et iaculis semper. Sed scelerisque mauris at sodales maximus. Nulla efficitur hendrerit erat et efficitur. Fusce eu tortor velit. Sed dictum in dolor vel sodales. Sed tristique tincidunt mi a vestibulum.

            Donec quis porta purus. Duis urna odio, pretium a imperdiet ut, consectetur quis risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis quis odio nisl. Etiam a ante orci. Integer nibh tortor, rutrum in nisi ut, aliquet sagittis mauris. Duis vehicula facilisis imperdiet.

            Praesent ut aliquam velit. Nam sed risus lorem. Nunc dictum gravida erat, eu luctus urna. Nulla et sem maximus, pulvinar leo nec, tempus nisl. Etiam nulla nibh, commodo eget enim hendrerit, luctus fermentum lectus. Etiam ut massa vulputate, euismod augue eu, tristique lacus. Phasellus justo odio, posuere condimentum lobortis tincidunt, egestas id urna. Etiam placerat dolor eget elit congue, non mattis libero aliquet. Maecenas vulputate ex quis erat tempor ornare. Phasellus elit erat, laoreet sed ligula a, lacinia gravida leo.</p>
    </article>
{% endblock %}